In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, KFold
from sklearn.metrics import make_scorer, mean_squared_error

In [2]:
df = pd.read_csv('car_emission_data.csv')
df

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
0         2.0          4                   8.5           196
1         2.4          4                   9.6           221
2         1.5          4                   5.9           136
3         3.5          6                  11.1           255
4         3.5          6                  10.6           244
5         3.5          6                  10.0           230
6         3.5          6                  10.1           232
7         3.7          6                  11.1           255
8         3.7          6                  11.6           267
9         2.4          4                   9.2           212

- Chọn features và target

In [3]:
X = df[["ENGINESIZE","CYLINDERS","FUELCONSUMPTION_COMB"]]
X

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB
0         2.0          4                   8.5
1         2.4          4                   9.6
2         1.5          4                   5.9
3         3.5          6                  11.1
4         3.5          6                  10.6
5         3.5          6                  10.0
6         3.5          6                  10.1
7         3.7          6                  11.1
8         3.7          6                  11.6
9         2.4          4                   9.2

In [4]:
Y = df["CO2EMISSIONS"]
Y

0    196
1    221
2    136
3    255
4    244
5    230
6    232
7    255
8    267
9    212
Name: CO2EMISSIONS, dtype: int64

In [5]:
model = LinearRegression()
kf = KFold(n_splits=5, shuffle= True, random_state= 42)
mse_scorer = make_scorer(mean_squared_error)
scores = cross_val_score(model, X, Y, cv=kf, scoring=mse_scorer)

In [6]:
print("MSE for each fold: ", scores)
print("Average MSE across folds: ", scores.mean())

MSE for each fold:  [0.07648217 0.02278506 0.03202453 0.06133386 0.15782146]
Average MSE across folds:  0.07008941278309591