In [6]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [7]:

df = pd.read_csv('car_emission_data.csv')
df

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB  CO2EMISSIONS
0         2.0          4                   8.5           196
1         2.4          4                   9.6           221
2         1.5          4                   5.9           136
3         3.5          6                  11.1           255
4         3.5          6                  10.6           244
5         3.5          6                  10.0           230
6         3.5          6                  10.1           232
7         3.7          6                  11.1           255
8         3.7          6                  11.6           267
9         2.4          4                   9.2           212

In [10]:
X = df[["ENGINESIZE", "CYLINDERS", "FUELCONSUMPTION_COMB"]] 
X

   ENGINESIZE  CYLINDERS  FUELCONSUMPTION_COMB
0         2.0          4                   8.5
1         2.4          4                   9.6
2         1.5          4                   5.9
3         3.5          6                  11.1
4         3.5          6                  10.6
5         3.5          6                  10.0
6         3.5          6                  10.1
7         3.7          6                  11.1
8         3.7          6                  11.6
9         2.4          4                   9.2

In [11]:
Y = df["CO2EMISSIONS"]  
Y

0    196
1    221
2    136
3    255
4    244
5    230
6    232
7    255
8    267
9    212
Name: CO2EMISSIONS, dtype: int64

In [18]:
X_train = X.iloc[0:9]  
y_train = y.iloc[0:9]

X_test = X.iloc[6:10]  
y_test = y.iloc[6:10]

In [19]:
# Tạo mô hình Linear Regression và huấn luyện (train)
model = LinearRegression()
model.fit(X_train, y_train)

# Dự đoán trên tập kiểm tra (test)
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

In [20]:
print("Mean Squared Error:", mse)
print("True values:", y_test.values)
print("Predicted values:", y_pred)

Mean Squared Error: 0.0381906509622448
True values: [232 255 267 212]
Predicted values: [232.16508188 255.17881669 266.75303751 211.81959852]